<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e.shortform.domain.community.mapper.CommunityCommentMapper">

    <resultMap id="communityCommentResultMap" type="com.e.shortform.domain.community.vo.CommunityCommentVo">
        <id property="id" column="id"/>
        <result property="commentText" column="COMMENT_TEXT"/>
        <result property="commentUserId" column="COMMENT_USER_ID"/>
        <result property="communityId" column="COMMUNITY_ID"/>
        <result property="createAt" column="CREATE_AT"/>
        <result property="deleteStatus" column="DELETE_STATUS" />
    </resultMap>

</mapper>