<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e.shortform.domain.community.mapper.CommunityAdditionMapper">

    <resultMap id="communityAdditionResultMap" type="com.e.shortform.domain.community.vo.CommunityAdditionVo">
        <id property="id" column="id"/>
        <result property="fileSrc" column="FILE_SRC"/>
        <result property="communityId" column="COMMUNITY_ID"/>
        <result property="uploadAt" column="UPLOAD_AT"/>
    </resultMap>

</mapper>