<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e.shortform.model.mapper.CommentReplyMapper">

    <resultMap id="commentReplyResultMap" type="com.e.shortform.model.vo.CommentReplyVo">
        <id property="id" column="ID"/>
        <result property="commentReplyText" column="COMMENT_REPLY_TEXT"/>
        <result property="commentReplyUserId" column="COMMENT_REPLY_USER_ID"/>
        <result property="commentReplyId" column="COMMENT_REPLY_ID"/>
        <result property="createAt" column="CREATE_AT"/>
    </resultMap>

    <resultMap id="commentReplyWithUserCommentResultMap" type="com.e.shortform.model.dto.CommentReplyWithUserCommentDto">
        <id property="id" column="ID"/>
        <result property="commentReplyText" column="COMMENT_REPLY_TEXT"/>
        <result property="commentReplyUserId" column="COMMENT_REPLY_USER_ID"/>
        <result property="commentReplyId" column="COMMENT_REPLY_ID"/>
        <result property="createAt" column="CREATE_AT"/>
        <association property="userVo" javaType="com.e.shortform.model.vo.UserVo" />
        <association property="commentVo" javaType="com.e.shortform.model.vo.CommentVo" />
    </resultMap>

<!--    <select id="selectCommentReplyContent" parameterType="Long" resultMap="">-->
<!--        SELECT-->
<!--            A.ID AS COMMENT_REPLY_ID,-->
<!--            A.COMMENT_REPLY_TEXT,-->
<!--            A.COMMENT_REPLY_USER_ID,-->
<!--            B.ID AS COMMENT_ID,-->
<!--            B.COMMENT_TEXT,-->
<!--            B.COMMENT_USER_ID,-->
<!--            B.COMMENT_VIDEO_ID,-->
<!--            C.PROFILE_IMG_SRC,-->
<!--            C.BIO,-->
<!--            C.MENTION-->
<!--        FROM SHORTFORM_COMMENT_REPLYS A-->
<!--                 JOIN SHORTFORM_COMMENTS B-->
<!--                      ON A.COMMENT_REPLY_ID = B.ID-->
<!--                 JOIN SHORTFORM_USERS C-->
<!--                      ON B.COMMENT_USER_ID = C.ID-->
<!--        WHERE A.COMMENT_REPLY_ID = 2-->
<!--        ORDER BY A.CREATE_AT-->
<!--    </select>-->

</mapper>