<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e.shortform.model.mapper.CommunityLikeMapper">

    <resultMap id="communityLikeResultMap" type="com.e.shortform.model.vo.CommunityLikeVo">
        <id property="id" column="id"/>
        <result property="communityId" column="COMMUNITY_ID"/>
        <result property="likerUserId" column="LIKER_USER_ID"/>
        <result property="likeAt" column="LIKE_AT"/>
    </resultMap>

</mapper>