<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e.shortform.model.mapper.CommunityMapper">

    <resultMap id="communityResultMap" type="com.e.shortform.model.vo.CommunityVo">
        <id property="id" column="id"/>
        <result property="communityText" column="COMMUNITY_TEXT"/>
        <result property="communityWriterId" column="COMMUNITY_WRITER_ID"/>
        <result property="communityUuid" column="COMMUNITY_UUID"/>
        <result property="communityAvailability" column="COMMUNITY_AVAILABILITY"/>
        <result property="createAt" column="CREATE_AT"/>
    </resultMap>

</mapper>