<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e.shortform.domain.search.mapper.SearchListMapper">

    <resultMap id="searchListResultMap" type="com.e.shortform.domain.search.vo.SearchListVo">
        <id property="id" column="id"/>
        <result property="searchedUserId" column="searched_user_id"/>
        <result property="searchedWord" column="searched_word"/>
        <result property="createAt" column="create_at"/>
    </resultMap>

    <resultMap id="searchListWithUserResultMap" type="com.e.shortform.domain.search.res.SearchListWithUserDto">
        <id property="id" column="id"/>
        <result property="searchedUserId" column="searched_user_id"/>
        <result property="searchedWord" column="searched_word"/>
        <result property="createAt" column="create_at"/>

        <association property="userVo" javaType="com.e.shortform.domain.user.vo.UserVo" />
    </resultMap>

    <select id="selectMySearchList" parameterType="Long" resultMap="searchListResultMap">
        SELECT s.ID, s.SEARCHED_USER_ID, s.SEARCHED_WORD, s.CREATE_AT
        FROM SHORTFORM_SEARCH_LISTS s
        JOIN (
            SELECT SEARCHED_WORD, MAX(CREATE_AT) AS LATEST_TIME
            FROM SHORTFORM_SEARCH_LISTS
            WHERE SEARCHED_USER_ID = #{id}
            GROUP BY SEARCHED_WORD
        ) t ON s.SEARCHED_WORD = t.SEARCHED_WORD AND s.CREATE_AT = t.LATEST_TIME
        WHERE s.SEARCHED_USER_ID = #{id}
        ORDER BY s.CREATE_AT DESC
    </select>

    <delete id="deleteSearchWord" parameterType="map">
        DELETE FROM SHORTFORM_SEARCH_LISTS
        WHERE SEARCHED_USER_ID = #{searchedUserId}
          AND SEARCHED_WORD = #{searchedWord}
    </delete>

</mapper>