<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e.shortform.domain.user.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.e.shortform.domain.user.vo.UserVo">
        <id property="id" column="ID"/>
        <result property="username" column="USERNAME"/>
        <result property="mail" column="MAIL"/>
        <result property="password" column="PASSWORD"/>
        <result property="profileImg" column="PROFILE_IMG"/>
        <result property="profileImgSrc" column="PROFILE_IMG_SRC"/>
        <result property="bio" column="BIO"/>
        <result property="mention" column="MENTION"/>
        <result property="createAt" column="CREATE_AT"/>
    </resultMap>

    <resultMap id="getUserProfilePageInfoResultMap" type="com.e.shortform.domain.user.res.UserProfileDto">
        <id property="id" column="ID"/>
        <result property="username" column="USERNAME"/>
        <result property="mail" column="MAIL"/>
        <result property="password" column="PASSWORD"/>
        <result property="profileImg" column="PROFILE_IMG"/>
        <result property="profileImgSrc" column="PROFILE_IMG_SRC"/>
        <result property="bio" column="BIO"/>
        <result property="mention" column="MENTION"/>
        <result property="createAt" column="CREATE_AT"/>
        <result property="followerCount" column="FOLLOWER_COUNT"/>
        <result property="followingCount" column="FOLLOWING_COUNT"/>
        <result property="totalViews" column="TOTAL_VIEWS"/>
        <result property="totalLikes" column="TOTAL_LIKES"/>
    </resultMap>

    <select id="selectAll" resultMap="userResultMap">
        SELECT * FROM SHORTFORM_USERS ORDER BY ID DESC
    </select>

    <select id="selectChkUsername" resultType="String" parameterType="String">
        SELECT USERNAME FROM SHORTFORM_USERS WHERE USERNAME = #{username}
    </select>

    <select id="selectChkUserMail" resultType="String" parameterType="String">
        SELECT MAIL FROM SHORTFORM_USERS WHERE MAIL = #{mail}
    </select>

    <select id="getUserProfilePageInfo" resultMap="getUserProfilePageInfoResultMap" parameterType="Long">
        SELECT
            u.ID,
            u.USERNAME,
            u.MAIL,
            u.PROFILE_IMG,
            u.PROFILE_IMG_SRC,
            u.BIO,
            u.MENTION,
            u.CREATE_AT,
            (SELECT COUNT(*)
             FROM SHORTFORM_USERS_FOLLOWS
             WHERE FOLLOWED_USER_ID = u.ID) AS FOLLOWER_COUNT,
            (SELECT COUNT(*)
             FROM SHORTFORM_USERS_FOLLOWS
             WHERE FOLLOW_USER_ID = u.ID) AS FOLLOWING_COUNT,
            (SELECT COALESCE(SUM(VIDEO_VIEWS), 0)
             FROM SHORTFORM_VIDEOS
             WHERE UPLOADER_USER_ID = u.ID) AS TOTAL_VIEWS,
            (SELECT COUNT(*)
             FROM SHORTFORM_VIDEO_LIKES vl
                      JOIN SHORTFORM_VIDEOS v ON v.ID = vl.LIKE_VIDEO_ID
             WHERE v.UPLOADER_USER_ID = u.ID) AS TOTAL_LIKES
        FROM SHORTFORM_USERS u
        WHERE u.ID = #{id}
    </select>
    
    <select id="selectProfileUserFollowList" parameterType="Long" resultMap="userResultMap">
        SELECT
            u.ID,
            u.USERNAME,
            u.PROFILE_IMG,
            u.PROFILE_IMG_SRC,
            u.MENTION,
            f.CREATE_AT as FOLLOWED_AT
        FROM SHORTFORM_USERS_FOLLOWS f
                 JOIN SHORTFORM_USERS u ON f.FOLLOW_USER_ID = u.ID
        WHERE f.FOLLOWED_USER_ID = #{id}
        ORDER BY f.CREATE_AT DESC
    </select>
    
    <select id="selectProfileUserFollowingList" parameterType="Long" resultMap="userResultMap">
        SELECT
            u.ID,
            u.USERNAME,
            u.PROFILE_IMG_SRC,
            u.MENTION,
            f.CREATE_AT as FOLLOWED_AT
        FROM SHORTFORM_USERS_FOLLOWS f
                 JOIN SHORTFORM_USERS u ON f.FOLLOWED_USER_ID = u.ID
        WHERE f.FOLLOW_USER_ID = #{id}
        ORDER BY f.CREATE_AT DESC
    </select>

    <update id="updateUserInfo">
        UPDATE SHORTFORM_USERS SET USERNAME = #{username},
           MAIL = #{mail}, MENTION = #{mention}, BIO = #{bio},
           PROFILE_IMG = #{profileImg}, PROFILE_IMG_SRC = #{profileImgSrc}
        WHERE ID = #{id}
    </update>

</mapper>