<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e.shortform.model.mapper.VideoLikeMapper">

    <resultMap id="videoLikeResultMap" type="com.e.shortform.model.vo.VideoLikeVo">
        <id property="id" column="id"/>
        <result property="videoId" column="video_id"/>
        <result property="userId" column="user_id"/>
        <result property="likeAt" column="like_at"/>
    </resultMap>

    <resultMap id="videoLikeWithUserVideoResultMap" type="com.e.shortform.model.dto.VideoLikeWithUserVideoDto">
        <id property="id" column="id"/>
        <result property="videoId" column="video_id"/>
        <result property="userId" column="user_id"/>
        <result property="likeAt" column="like_at"/>

        <association property="userVo" javaType="com.e.shortform.model.vo.UserVo" />
        <association property="videoVo" javaType="com.e.shortform.model.vo.VideoVo" />
    </resultMap>

</mapper>