<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e.shortform.domain.viewstory.mapper.ViewStoryMapper">

    <resultMap id="viewStoryResultMap" type="com.e.shortform.domain.viewstory.vo.ViewStoryVo">
        <id property="id" column="id"/>
        <result property="watchedVideoId" column="watched_video_id"/>
        <result property="watchedUserId" column="watched_user_id"/>
        <result property="createAt" column="create_at"/>
    </resultMap>

    <resultMap id="viewStoryWithUserVideoResultMap" type="com.e.shortform.domain.viewstory.res.ViewStoryWithUserVideoDto">
        <id property="id" column="id"/>
        <result property="videoId" column="video_id"/>
        <result property="userId" column="user_id"/>
        <result property="createAt" column="create_at"/>
        <association property="userVo" javaType="com.e.shortform.domain.user.vo.UserVo" />
        <association property="videoVo" javaType="com.e.shortform.domain.video.vo.VideoVo" />
    </resultMap>

</mapper>