<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://dayoon07.github.io/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/custom.css">
    <title>FlipFlop</title>
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
</head>
<body style="background-color: black; color: white; overflow: hidden;">

    <div th:replace="~{fragments/app-bar.html :: app-bar}"></div>

    <div class="flex h-screen">
        <div th:replace="~{fragments/sidebar.html :: sidebar}"></div>

        <main class="flex-1 overflow-y-auto">
            <section>
                <p th:text="${profileInfo}"></p>

                <div class="flex space-x-6 mb-4 p-6 items-center">
                    <div>
                        <img th:src="${profileInfo.getProfileImgSrc()}" id="profile-img-src" alt="..." class="md:w-44 md:h-44 w-32 h-32 rounded-full object-cover p-1 bg-gradient-to-r from-pink-500 to-sky-500" />
                    </div>
                    <div class="space-y-2">
                        <div>
                            <h1 th:text="${profileInfo.getUsername()}" id="h1-but-username" class="text-[30px] font-semibold"></h1>
                            <div class="flex space-x-4">
                                <small th:text="'@' + ${profileInfo.getMention()}" id="small-tag-but-just-user-mention" class="font-semibold"></small>
                                <small class="text-gray-400 cursor-pointer" onclick="document.getElementById('info-modal').classList.remove('hidden')">더보기</small>
                            </div>
                            <p style="display: none;" th:text="${profileInfo.getMail()}" id="user-mail-nothing-aaaaaaaaa"></p>
                        </div>

                        <!-- 팔로우 버튼 (다른 사용자의 프로필을 볼 때) -->
                        <div th:if="${session.user != null and session.user.id != profileInfo.id}">
                            <!-- 팔로우 중일 때 -->
                            <button type="button"
                                    id="user-following-btn"
                                    th:if="${isFollowing}"
                                    th:data-mention="${profileInfo.mention}"
                                    class="bg-gray-600 hover:bg-red-600 px-8 py-2 rounded-md transition-colors duration-200 flex items-center space-x-2">
                                <span>팔로잉</span>
                                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                </svg>
                            </button>

                            <!-- 팔로우 안 했을 때 -->
                            <button type="button"
                                    id="user-follow-btn"
                                    th:unless="${isFollowing}"
                                    th:data-mention="${profileInfo.mention}"
                                    class="bg-gradient-to-r from-pink-500 to-sky-500 hover:from-pink-600 hover:to-sky-600 px-8 py-2 rounded-md transition-all duration-200 flex items-center space-x-2">
                                <span>팔로우</span>
                                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                </svg>
                            </button>
                        </div>

                        <!-- 프로필 편집 버튼 (본인 프로필일 때) -->
                        <button type="button" id="user-profile-edit-btn"
                                th:if="${session.user != null && session.user.getId() == profileInfo.getId()}"
                                class="bg-gradient-to-r from-pink-500 to-sky-500 hover:from-pink-600 hover:to-sky-600 px-8 py-2 rounded-md">
                            프로필 편집
                        </button>

                        <div class="flex space-x-4">
                            <div>
                                <span id="following-count" style="font-size: large;" th:text="${profileInfo.getFollowingCount()}"></span>&nbsp;
                                <span id="find-following-user-btn" th:data-following-id="${profileInfo.getId()}" class="cursor-pointer text-gray-500">팔로우</span>
                            </div>
                            <div>
                                <span id="follower-count" style="font-size: large;" th:text="${profileInfo.getFollowerCount()}"></span>&nbsp;
                                <span id="find-follow-user-btn" th:data-follow-id="${profileInfo.getId()}" class="cursor-pointer text-gray-500">팔로워</span>
                            </div>
                            <div>
                                <span style="font-size: large;" th:text="${profileUserVideoInfo.size()}"></span>
                                <span class="text-gray-500">동영상</span>
                            </div>
                        </div>

                        <div th:if="${profileInfo.getBio() != null}">
                            <p th:text="${profileInfo.getBio().length() > 21 ? profileInfo.getBio().substring(0, 20) + '...' : profileInfo.getBio()}"
                               style="word-wrap: break-word; white-space: pre-wrap;" id="biobiobio"></p>
                        </div>
                    </div>
                </div>

                <div class="flex border-b border-gray-800 w-full">
                    <a th:href="@{'/@' + ${profileInfo.getMention()}}"
                        class="flex-1 text-center py-3 font-semibold border-b-2 border-transparent text-gray-400 hover:border-white hover:text-white transition duration-300">
                        동영상
                    </a>
                    <a th:href="@{'/@' + ${profileInfo.getMention()} + '/post'}"
                        class="flex-1 text-center py-3 font-semibold border-b-2 border-white text-white">
                        게시글
                    </a>
                </div>

                <div class="py-4">

                </div>
            </section>
        </main>
    </div>

    <div id="follow-modal" class="fixed inset-0 bg-black bg-opacity-50 hidden z-50">
        <div class="bg-white md:rounded-xl shadow-xl w-full h-full md:w-[450px] md:h-[500px] mx-auto md:mt-28 md:max-w-md">
            <div class="flex justify-between items-center py-2 px-6 border-b">
                <h2 id="follow-modal-title" class="text-xl font-semibold text-black"></h2>
                <button id="follow-modal-close" class="text-black text-4xl pb-2">&times;</button>
            </div>
            <ul id="follow-modal-list" class="divide-y divide-gray-200 md:h-[435px] overflow-y-auto"></ul>
        </div>
    </div>

    <div id="info-modal" class="fixed inset-0 bg-black bg-opacity-50 hidden z-50">
        <div class="bg-white md:rounded-xl shadow-xl w-full h-full md:w-[450px] md:h-[500px] mx-auto md:mt-28 p-4 mb-4">
            <div class="flex justify-between items-center px-2 pb-2 border-b">
                <h2 th:text="${profileInfo.getUsername()}" class="text-xl font-semibold text-black">username</h2>
                <button class="text-black text-4xl pb-2" onclick="document.getElementById('info-modal').classList.add('hidden')">&times;</button>
            </div>
            <div class="md:h-[400px] overflow-y-auto">
                <div th:if="${profileInfo.getBio() != null}" class="my-4 px-2 text-black">
                    <h2 class="text-xl font-semibold text-black">설명</h2>
                    <p style="word-wrap: break-word; white-space: pre-wrap; margin-left: 2px; margin-top: 4px;"
                       th:text="${profileInfo.getBio()}"></p>
                </div>
                <div class="my-4 px-2 space-y-4 text-black">
                    <h2 class="text-xl font-semibold text-black">추가 정보</h2>
                    <div class="flex justify-start items-center">
                        <div style="width: 32px; height: 32px; display: block; fill: currentcolor; margin-right: 10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" focusable="false" aria-hidden="true" style="pointer-events: none; display: inherit; width: 100%; height: 100%;">
                                <path d="M13 17h-2v-6h2v6zm0-10h-2v2h2V7zm-1-4c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z"></path>
                            </svg>
                        </div>
                        <div th:text="'가입일: ' + ${profileInfo.getCreateAt().toString().substring(0, 10)}">가입일</div>
                    </div>
                    <div class="flex justify-start items-center">
                        <div style="width: 32px; height: 32px; display: block; fill: currentcolor; margin-right: 10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" focusable="false" aria-hidden="true" style="pointer-events: none; display: inherit; width: 100%; height: 100%;">
                                <path d="M11.72 11.93C13.58 11.59 15 9.96 15 8c0-2.21-1.79-4-4-4S7 5.79 7 8c0 1.96 1.42 3.59 3.28 3.93C4.77 12.21 2 15.76 2 20h18c0-4.24-2.77-7.79-8.28-8.07zM8 8c0-1.65 1.35-3 3-3s3 1.35 3 3-1.35 3-3 3-3-1.35-3-3zm3 4.9c5.33 0 7.56 2.99 7.94 6.1H3.06c.38-3.11 2.61-6.1 7.94-6.1zm5.68-1.46-.48-.88C17.31 9.95 18 8.77 18 7.5s-.69-2.45-1.81-3.06l.49-.88C18.11 4.36 19 5.87 19 7.5c0 1.64-.89 3.14-2.32 3.94zm2.07 1.69-.5-.87c1.7-.98 2.75-2.8 2.75-4.76s-1.05-3.78-2.75-4.76l.5-.87C20.75 3.03 22 5.19 22 7.5s-1.24 4.47-3.25 5.63z"></path>
                            </svg>
                        </div>
                        <div th:text="'팔로워: ' + ${profileInfo.getFollowerCount()} + '명'">팔로워 수</div>
                    </div>
                    <div class="flex justify-start items-center">
                        <div style="width: 32px; height: 32px; display: block; fill: currentcolor; margin-right: 10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" aria-hidden="true" style="pointer-events: none; display: inherit; width: 100%; height: 100%;">
                                <path d="m10 8 6 4-6 4V8zm11-5v18H3V3h18zm-1 1H4v16h16V4z"></path>
                            </svg>
                        </div>
                        <div th:text="'동영상: ' + ${profileUserVideoInfo.size()} + '개'">동영상 개수</div>
                    </div>
                    <div class="flex justify-start items-center">
                        <div style="width: 32px; height: 32px; display: block; fill: currentcolor; margin-right: 10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" aria-hidden="true" style="pointer-events: none; display: inherit; width: 100%; height: 100%;">
                                <path d="M22 6v7h-1V7.6l-8.5 7.6-4-4-5.6 5.6-.7-.7 6.4-6.4 4 4L20.2 7H15V6h7z"></path>
                            </svg>
                        </div>
                        <div th:text="'조회수: ' + ${profileInfo.getTotalViews()} + '회'">조회수</div>
                    </div>
                    <div class="flex justify-start items-center">
                        <div style="width: 32px; height: 32px; display: block; fill: currentcolor; margin-right: 10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" aria-hidden="true" style="pointer-events: none; display: inherit; width: 100%; height: 100%;">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                            </svg>
                        </div>
                        <div th:text="'좋아요: ' + ${profileInfo.getTotalLikes()}">좋아요 수</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/bottom-navbar.html :: bottom-navbar}"></div>
    <div th:replace="~{fragments/sidebar.html :: loginModal}"></div>
    <div th:replace="~{fragments/sidebar.html :: signupModal}"></div>

    <script src="/js/user-session.js"></script>
    <script src="/js/user-follow.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.addEventListener("keydown", (e) => {
                if (e.key === "Escape") {
                    document.getElementById("info-modal").classList.add("hidden");
                }
            })
        });
    </script>

</body>
</html>