<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://dayoon07.github.io/favicon.ico" type="image/x-icon">
    <title>FlipFlop</title>
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
</head>
<body class="bg-black text-white overflow-hidden">

    <div class="flex h-screen">

        <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>

        <main class="flex-1">

            <div th:replace="~{/fragments/bottom-navbar.html :: bottom-navbar}"></div>
        </main>
    </div>

</body>
</html>