<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<body>
    <nav th:fragment="app-bar" class="sticky top-0 left-0 bg-black/90 backdrop-blur-sm border-b border-gray-800 md:px-4 px-3 md:py-2 py-1 md:hidden z-[41] flex justify-between items-center">
        <h1 class="md:text-3xl text-2xl font-bold bg-gradient-to-t from-pink-500 to-sky-500 bg-clip-text text-transparent pl-2">
            <a th:href="@{/}">FlipFlop</a>
        </h1>

        <div class="flex justify-around items-center">
            <button id="search-btn-but-app-bar" onclick="openSearchModal(this)" class="nav-btn flex items-center space-x-3 p-3 hover:bg-gray-800/50 rounded-xl transition-colors group"
                    th:if="${session.user != null}" th:data-id="${session.user.getId()}">
                <svg class="w-6 h-6 text-gray-400 group-hover:text-white" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                </svg>
            </button>
            <button th:if="${session.user == null}" onclick="openSearchModal(this)" class="nav-btn flex items-center space-x-3 p-3 hover:bg-gray-800/50 rounded-xl transition-colors group search-btn-but-app-bar">
                <svg class="w-6 h-6 text-gray-400 group-hover:text-white" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                </svg>
            </button>

            <div th:if="${session.user == null}">
                <button id="signupBtn2"
                        class="nav-btn px-4 py-1 border-2 border-gray-600 text-gray-300 hover:border-gray-700 hover:bg-gray-800/50 hover:text-white rounded-full transition-colors whitespace-nowrap">
                    회원가입
                </button>

                <button id="loginBtn2"
                        class="nav-btn px-4 py-1 border-2 border-gray-600 text-gray-300 hover:border-gray-700 hover:bg-gray-800/50 hover:text-white rounded-full transition-colors whitespace-nowrap ml-1">
                    로그인
                </button>
            </div>

            <details th:if="${session.user != null}" class="z-[91]">
                <summary class="list-none cursor-pointer w-8 h-8 p-0.5 rounded-full bg-gradient-to-r from-pink-500 to-sky-500 z-[91]">
                    <img th:src="${session.user.getProfileImgSrc()}" alt="..." class="w-full h-full object-cover rounded-full" />
                </summary>
                <div class="absolute right-0 top-14 bg-black border border-gray-800 rounded-md z-[91] text-left">
                    <a th:href="${'/studio/upload'}" class="block w-full px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-800/50 z-[91]">
                        업로드
                    </a>
                    <a th:href="${'/@' + session.user.getMention()}" class="block w-full px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-800/50 z-[91]">
                        내 채널 보기
                    </a>
                    <a th:href="@{/likes}" class="block w-full px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-800/50 z-[91]">
                        좋아요
                    </a>
                    <form action="/logout" method="post" class="z-[91]">
                        <button type="submit" class="block w-full px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-800/50 z-[91] text-left">
                            로그아웃
                        </button>
                    </form>
                </div>
            </details>

        </div>
    </nav>

</body>
</html>