<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e.shortform.model.mapper.CommentReplyLikeMapper">

    <resultMap id="commentReplyLikeResultMap" type="com.e.shortform.domain.comment.vo.CommentReplyLikeVo">
        <id property="id" column="id"/>
        <result property="replyId" column="reply_id"/>
        <result property="likerUserId" column="liker_user_id"/>
        <result property="likeAt" column="like_at"/>
    </resultMap>

    <resultMap id="commentReplyLikeWithUserReplyResultMap" type="com.e.shortform.domain.comment.res.CommentReplyLikeWithUserReplyDto">
        <id property="id" column="id"/>
        <result property="replyId" column="reply_id"/>
        <result property="likerUserId" column="liker_user_id"/>
        <result property="likeAt" column="like_at"/>

        <association property="userVo" javaType="com.e.shortform.domain.user.vo.UserVo" />
        <association property="commentReplyVo" javaType="com.e.shortform.domain.comment.vo.CommentReplyVo" />
    </resultMap>

</mapper>