<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e.shortform.domain.comment.mapper.CommentMapper">

    <resultMap id="commentResultMap" type="com.e.shortform.domain.comment.vo.CommentVo">
        <id property="id" column="ID"/>
        <result property="commentText" column="COMMENT_TEXT"/>
        <result property="userId" column="COMMENT_USER_ID"/>
        <result property="videoId" column="COMMENT_VIDEO_ID"/>
        <result property="createAt" column="CREATE_AT"/>
        <result property="deleteStatus" column="DELETE_STATUS" />
    </resultMap>

    <resultMap id="commentWithUserVideoFResultMap" type="com.e.shortform.domain.comment.res.CommentButVideoRes">
        <id property="id" column="ID"/>
        <result property="commentText" column="COMMENT_TEXT"/>
        <result property="commentUserId" column="COMMENT_USER_ID"/>
        <result property="commentVideoId" column="COMMENT_VIDEO_ID"/>
        <result property="createAt" column="CREATE_AT"/>
        <result property="username" column="USERNAME" />
        <result property="mention" column="MENTION" />
        <result property="profileImgSrc" column="PROFILE_IMG_SRC" />
        <result property="social" column="IS_SOCIAL" />
        <result property="provider" column="PROVIDER" />
        <result property="likeCount" column="LIKE_COUNT"/>
        <result property="replyCount" column="REPLY_COUNT" />
    </resultMap>

    <select id="selectByCommentId" resultMap="commentWithUserVideoFResultMap" parameterType="Long">
        SELECT
            c.ID,
            c.COMMENT_TEXT,
            c.COMMENT_USER_ID,
            c.COMMENT_VIDEO_ID,
            c.CREATE_AT,
            -- 작성자 정보
            u.USERNAME,
            u.MENTION,
            u.PROFILE_IMG_SRC,
            u.IS_SOCIAL,
            u.PROVIDER,
            -- 통계
            (SELECT COUNT(*) FROM SHORTFORM_COMMENT_LIKES cl WHERE cl.COMMENT_ID = c.ID) AS LIKE_COUNT,
            (SELECT COUNT(*) FROM SHORTFORM_COMMENT_REPLYS cr WHERE cr.COMMENT_REPLY_ID = c.ID AND cr.DELETE_STATUS = 0) AS REPLY_COUNT
        FROM SHORTFORM_COMMENTS c
                 JOIN SHORTFORM_USERS u ON c.COMMENT_USER_ID = u.ID
        WHERE c.COMMENT_VIDEO_ID = #{id}
          AND c.DELETE_STATUS = 0
        ORDER BY LIKE_COUNT DESC, c.CREATE_AT DESC
    </select>
    
    <select id="selectByCommentButOrderByIsDesc" resultMap="commentWithUserVideoFResultMap" parameterType="Long">
        SELECT
            c.ID AS COMMENT_ID,
            c.COMMENT_TEXT,
            c.COMMENT_USER_ID,
            c.COMMENT_VIDEO_ID,
            c.CREATE_AT,
            -- 작성자 정보
            u.USERNAME,
            u.MENTION,
            u.PROFILE_IMG_SRC,
            u.IS_SOCIAL,
            u.PROVIDER,
            -- 통계
            (SELECT COUNT(*) FROM SHORTFORM_COMMENT_LIKES cl WHERE cl.COMMENT_ID = c.ID) AS LIKE_COUNT,
            (SELECT COUNT(*) FROM SHORTFORM_COMMENT_REPLYS cr WHERE cr.COMMENT_REPLY_ID = c.ID AND cr.DELETE_STATUS = 0) AS REPLY_COUNT
        FROM SHORTFORM_COMMENTS c
                 JOIN SHORTFORM_USERS u ON c.COMMENT_USER_ID = u.ID
        WHERE c.COMMENT_VIDEO_ID = #{id}
          AND c.DELETE_STATUS = 0
        ORDER BY c.CREATE_AT DESC
    </select>

</mapper>